html, body{
    margin: auto;
    padding: 0.3rem;
    max-width: 1400px;
    height: 100%;
}
div{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;    
    align-items: center;
}
.header{
    width: 100%;
    height: 150px;
    background-color: #ccc;
}
.main_wrap{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.section{
    height: 100%;
    flex-direction: row;
    background-color: blue;
}
.section_wrap{
    width: 100%;
    height: 500px;
    background-color: #fff;
}
.section_wrap-section{
    flex-grow: 1; 
}

.footer{
    width: 100%;
    height: 150px;
    background-color: cornflowerblue;
}

@media  (max-width: 576px) {
    .section_wrap {
        flex-direction: column;
        height: 100%;
    }
}
